{% extends 'layouts/app.html' %}
{% load static %}
{% load humanize %}
{% block content %}

<!-- ====== start popular posts ====== -->
<section class="tc-popular-posts-blog">
    <div class="container">
        <div class="content-widgets pt-50 pb-50">
            <div class="row">
                <div class="col-lg-9">
                    <div class="tc-post-list-style3">
                        <div class="items">
                            {% for article in articles %}
                                <div class="item">
                                    <div class="row">
                                        <div class="col-lg-5">
                                            <div class="img th-230 img-cover overflow-hidden">
                                                {% with articleImage=article.articleimage_set.first %}
                                                    {% if articleImage %}
                                                        <img src="{{ articleImage.image.url }}" alt="{{ articleImage.caption }}">
                                                    {% else %}
                                                        <img src="https://upload.wikimedia.org/wikipedia/commons/d/d1/Image_not_available.png" alt="Default Image">
                                                    {% endif %}
                                                {% endwith %}
                                            </div>
                                        </div>
                                        <div class="col-lg-7">
                                            <div class="content mt-20 mt-lg-0">
                                                {% if article.category %}
                                                    <a href="{% url 'base:showCategoryArticles' article.category.slug %}" class="color-999 fsz-13px text-uppercase mb-10">
                                                        {{ article.category.name }}
                                                    </a>
                                                {% endif %}
                                                <h4 class="title mb-15">
                                                    <a href="{% url 'base:showArticle' article.slug %}">{{ article.title }}</a>
                                                </h4>
                                                <div class="text color-666">
                                                    {{ article.content|safe|truncatechars:140 }}
                                                </div>
                                                <div class="meta-bot fsz-13px color-666">
                                                    <ul class="d-flex">
                                                        <li class="date me-5">
                                                            <a href="#"><i class="la la-calendar me-2"></i> {{ article.created_at|date:"M d, Y" }}</a>
                                                        </li>
                                                        <li class="author me-5">
                                                            <a href="#"><i class="la la-user me-2"></i> by {{ article.author.name }}</a>
                                                        </li>
                                                        <li class="comment">
                                                            <a href="#"><i class="la la-comment me-2"></i> {{ article.comment.count }} Comments</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="widgets-sticky mt-5 mt-lg-0">
                        <p class="color-000 text-uppercase mb-30"> Stay Connected </p>
                        <!-- widget-social -->
                        <div class="tc-widget-social-style5 mb-40">
                            <a href="#" class="social-card">
                                <div class="icon facebook-icon">
                                    <i class="lab la-facebook-f"></i>
                                </div>
                                <div class="cont">
                                    <strong> <b class="counter">575,5</b>K</strong>
                                    <span>Followers</span>
                                </div>
                            </a>
                            <a href="#" class="social-card">
                                <div class="icon twitter-icon">
                                    <i class="lab la-twitter"></i>
                                </div>
                                <div class="cont">
                                    <strong> <b class="counter">215,5</b>K</strong>
                                    <span>Followers</span>
                                </div>
                            </a>
                            <a href="#" class="social-card">
                                <div class="icon insta-icon">
                                    <i class="lab la-instagram"></i>
                                </div>
                                <div class="cont">
                                    <strong> <b class="counter">98,5</b>K</strong>
                                    <span>Followers</span>
                                </div>
                            </a>
                            <a href="#" class="social-card border-0 pb-0">
                                <div class="icon youtube-icon">
                                    <i class="lab la-youtube"></i>
                                </div>
                                <div class="cont">
                                    <strong> <b class="counter">24,2</b>K</strong>
                                    <span>Subscriber</span>
                                </div>
                            </a>
                        </div>

                        <!-- widget-trends -->
                        <div class="tc-trending-news-style5 border border-1 brd-gray mb-40">
                            <p class="color-000 text-uppercase p-15">trending posts</p>
                            <div class="tc-post-list-style1">
                                <div class="tc-post-overlay-default">
                                    <div class="img th-200 img-cover">
                                        <img src="https://newzin-html.themescamp.com/assets/img/trend/4.png" alt="">
                                    </div>
                                    <div class="content ps-20 pe-20 pb-20 text-white">
                                        <a href="#" class="text-uppercase fsz-13px mb-1">lifestyle</a>
                                        <h4 class="title">
                                            <a href="page-single-post-creative.html">The story about Hoki</a>
                                        </h4>
                                    </div>
                                </div>
                                <div class="items px-4 py-2">
                                    <div class="item">
                                        <h2 class="num">
                                            2
                                        </h2>
                                        <div class="content">
                                            <a href="#" class="color-999 fsz-12px text-uppercase mb-1">sport</a>
                                            <h6 class="title fsz-16px fw-bold ltspc--1 hover-main">
                                                <a href="page-single-post-creative.html" class="">The MLB lockout explained in 5 minutes</a>
                                            </h6>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <h2 class="num">
                                            3
                                        </h2>
                                        <div class="content">
                                            <a href="#" class="color-999 fsz-12px text-uppercase mb-1">sport</a>
                                            <h6 class="title fsz-16px fw-bold ltspc--1 hover-main">
                                                <a href="page-single-post-creative.html" class="">“Now or Never” Falcons for the 2022
                                                    season</a>
                                            </h6>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <h2 class="num">
                                            4
                                        </h2>
                                        <div class="content">
                                            <a href="#" class="color-999 fsz-12px text-uppercase mb-1">sport</a>
                                            <h6 class="title fsz-16px fw-bold ltspc--1 hover-main">
                                                <a href="page-single-post-creative.html" class="">MLB become 1st fashion brands in US</a>
                                            </h6>
                                        </div>
                                    </div>
                                    <a href="#" class="fsz-13px text-capitalize color-666 mt-30 mb-20">
                                        <span>See all posts</span>
                                        <i class="las la-angle-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <!-- widget-sponsored -->
                        <div class="tc-widget-sponsored-style1">
                            <div class="img img-cover">
                                <img src="https://newzin-html.themescamp.com/assets/img/sponsored/1.png" alt="">
                            </div>
                            <div class="info">
                                <div class="spon-cat text-uppercase mt-20"> Sponsored Content </div>
                                <h6 class="title">
                                    <a href="#">
                                        Dile &amp; Kamine Soap from pure natura 100%
                                    </a>
                                </h6>
                                <a href="#">
                                    <small>dileandkamina.com <i
                                            class="las la-external-link-square-alt ms-2"></i></small>
                                </a>
                            </div>
                        </div>

                        <!-- widget tags -->
                        <div class="tc-widget-tags-style5 mb-40">
                            <p class="color-000 text-uppercase mb-30"> Hot Tags Today </p>
                            <div class="tags-content">
                                <a href="#">Covid-19</a>
                                <a href="#">Bitcoin</a>
                                <a href="#">NFT</a>
                                <a href="#">Elon Musk</a>
                                <a href="#">Google Cloud</a>
                                <a href="#">Crypto</a>
                                <a href="#">Marketplace</a>
                                <a href="#">Game Consoles</a>
                                <a href="#">Robotics</a>
                                <a href="#">Hackers</a>
                            </div>
                        </div>
                        <!-- end widget tags -->

                        <!-- widget-adbox -->
                        <div class="tc-widget-adbox-style1">
                            <a href="#" class="img">
                                <img src="https://newzin-html.themescamp.com/assets/img/banner12.png" alt="" class="">
                            </a>
                        </div>

                        <!-- widget-survey -->
                        <div class="tc-widget-survey-style1 mb-40">
                            <p class="color-000 text-uppercase mb-20 ltspc-1"> quick survey </p>
                            <div class="ques-title lh-4">
                                How was your experience on Newzin?
                            </div>
                            <div class="ansr-content">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="quesCheck"
                                        id="quesCheck1">
                                    <label class="form-check-label" for="quesCheck1">
                                        Awesome, I’m satisfied!
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="quesCheck"
                                        id="quesCheck2">
                                    <label class="form-check-label" for="quesCheck2">
                                        Normal
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="quesCheck"
                                        id="quesCheck3">
                                    <label class="form-check-label" for="quesCheck3">
                                        Bad! Need improve more
                                    </label>
                                </div>
                            </div>
                            <div class="btns">
                                <a href="#" class="btn active me-2">
                                    Submit
                                </a>
                                <a href="#" class="btn">
                                    Result
                                </a>
                            </div>

                            <small class="pl-num">
                                <span class="color-000">24,562 </span> Peoples joined
                            </small>
                        </div>

                        <!-- widget webStories -->
                        <div class="tc-widget-webStories-style5">
                            <p class="color-000 text-uppercase mb-30"> google web stories </p>
                            <div class="web-content">
                                <a href="https://youtu.be/pGbIOC83-So?t=21" class="story-card pt-0"
                                    data-fancybox="">
                                    <div class="img img-cover">
                                        <img src="https://newzin-html.themescamp.com/assets/img/google-stories/1.png" alt="">
                                    </div>
                                    <div class="cont">
                                        <h6>Kayak stories</h6>
                                    </div>
                                </a>
                                <a href="https://youtu.be/pGbIOC83-So?t=21" class="story-card seen"
                                    data-fancybox="">
                                    <div class="img img-cover">
                                        <img src="https://newzin-html.themescamp.com/assets/img/google-stories/2.png" alt="">
                                    </div>
                                    <div class="cont">
                                        <h6>6 Tips Successful for Developers</h6>
                                    </div>
                                </a>
                                <a href="https://youtu.be/pGbIOC83-So?t=21" class="story-card pb-0 border-0"
                                    data-fancybox="">
                                    <div class="img img-cover">
                                        <img src="https://newzin-html.themescamp.com/assets/img/google-stories/3.png" alt="">
                                    </div>
                                    <div class="cont">
                                        <h6>PS Controller</h6>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ====== end popular posts ====== -->
{% endblock %}