{% load humanize %}

<div class="comment-replay-cont border-bottom border-1 brd-gray pb-40 pt-40" id="comment-{{ comment.id }}">
    <div class="d-flex comment-cont">
        <div class="icon-60 rounded-circle img-cover overflow-hidden me-3 flex-shrink-0">
            <img src="https://upload.wikimedia.org/wikipedia/commons/d/d1/Image_not_available.png" alt="">
        </div>
        <div class="inf w-100">
            <div class="title d-flex justify-content-between">
                <h6 class="fw-bold fsz-14px">{{ comment.name }}</h6>
                <span class="time fsz-12px text-uppercase color-999">
                    {{ comment.created_at|naturaltime }}
                </span>
            </div>
            <div class="text color-666 fsz-12px mt-10">
                {{ comment.content }}
            </div>
            <a href="#" class="butn border border-1 mt-20 py-2 px-3 reply-btn" data-comment-id="{{ comment.id }}">
                <span class="fsz-11px"> reply </span>
            </a>
        </div>
    </div>
</div>
