<footer class="footer-style1">
    <div class="container">
        {% comment %} <div class="tc-subscribe-style1">
            <div class="row justify-content-between align-items-center">
                <div class="col-lg-4">
                    <div class="sub-info">
                        <h5>Get the best blog stories into your inbox</h5>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="sub-form">
                        <div class="form-group">
                            <span class="icon">
                                <i class="la la-envelope"></i>
                            </span>
                            <input type="text" class="form-control" placeholder="Enter your email">
                            <button>subscribe</button>
                        </div>
                        <p class="mt-2 color-666 fsz-13px fst-italic">By subscribing, you accepted the our <a
                                href="#" class="text-decoration-underline fst-normal color-000">Policy</a></p>
                    </div>
                </div>
            </div>
        </div> {% endcomment %}

        {% comment %} <div class="content">
            <div class="row gx-lg-5">
                <div class="col-lg-4">
                    <div class="info">
                        <div class="foot-logo">
                            <img src="assets/img/logo_home1.png" alt="" class="dark-none">
                            <img src="assets/img/logo_home1_lt.png" alt="" class="light-none">
                        </div>
                        <div class="data-info">
                            <p>
                                <b>Operated by : </b> ThemesCamp Company, Inc.
                            </p>
                        </div>

                        <div class="social-links">
                            <a href="#">
                                <i class="la la-twitter"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="link-group">
                        <div class="title">Business</div>
                        <ul>
                            <li>
                                <a href="#" class="f-link">Startup</a>
                            </li>
                        </ul>
                    </div>
                    <div class="link-group">
                        <div class="title">Politics</div>
                        <ul>
                            <li>
                                <a href="#" class="f-link">Capital Journal</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="link-group">
                        <div class="title">Technology</div>
                        <ul>
                            <li>
                                <a href="#" class="f-link">Personal Technology</a>
                            </li>
                        </ul>
                    </div>
                    <div class="link-group">
                        <div class="title">Lifestyle</div>
                        <ul>
                            <li>
                                <a href="#" class="f-link">Lifestyle Trends</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="link-group">
                        <div class="title">Entertainment</div>
                        <ul>
                            <li>
                                <a href="#" class="f-link">Music & Podcasts</a>
                            </li>
                        </ul>
                    </div>
                    <div class="link-group">
                        <div class="title">Sport</div>
                        <ul>
                            <li>
                                <a href="#" class="f-link">Football</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="link-group">
                        <div class="title">Travel</div>
                        <ul>
                            <li>
                                <a href="#" class="f-link">Discovery</a>
                            </li>
                        </ul>
                    </div>
                    <div class="link-group">
                        <div class="title">Help Center</div>
                        <ul>
                            <li>
                                <a href="#" class="f-link">About Us</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div> {% endcomment %}

        <div class="foot text-center py-4 border-1 border-top brd-gray">
            <p class="fsz-13px color-666">
                © 2023 Copyrights by 
                <a href="#" class="color-000">Ireme News</a>. 
                All Rights Reserved. Developed by 
                <a href="https://www.nexcodes.dev" target="_blank" class="color-000 text-decoration-underline">
                    NEXCODE
                </a>
            </p>
        </div>
    </div>
    <a href="#" class="to_top">
        <i class="la la-angle-up"></i>
    </a>
</footer>